
@media screen and (min-width:900px) {
    .social-icons-team {
        transform: translateY(100px);
        transition: transform .3s ease-in-out;
    }
    .member2:hover .social-icons-team {
        transform: translateY(0);
    }
}


.member2::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background-color: rgba(35, 36, 38, 0.4);
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
}

.member2:hover::after {
    background-color: rgba(44, 46, 48, 0.6);
}
