.footer {
    background-color: rgb(14, 14, 14) !important;
}

.border-footer {
    border-bottom: 1px solid rgb(199, 159, 49);
}

.email-footer {
    color: #988686;
    animation: email 3s linear infinite alternate;
    transition: .3s ease-in-out;
}

.email-footer-two {
    color: #988686;
    animation: email2 3s linear infinite alternate;
    transition: .3s ease-in-out;
}

.border-social-footer {
    border: 1px solid rgb(200, 174, 101);
    transition: .3s ease-in-out;
    cursor: pointer;
}

.border-social-footer:hover {
    background-color: rgb(200, 174, 101);
}

.footer p:hover,
.footer p span:hover{
    color: gray;
    transition: .2s linear;
    cursor: pointer;
}






@keyframes email {
    from {
        text-shadow: 1px 2px 3px #a79292;
        opacity: .5;
    }

    to {
        text-shadow: 1px 2px 3px rgb(206, 152, 3);;
        opacity: 1;
    }
}

@keyframes email2 {
    from {
        text-shadow: 1px 2px 3px #a79292;
        opacity: 1;
    }

    to {
        text-shadow: 1px 2px 3px rgb(210, 156, 9) 2px 3px 4px rgb(199, 159, 49);
        opacity: .5;
    }

}